<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{title}}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon" />
    <link
      href="static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link
      href="static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn m-4"></i>
        <a href="index.html" class="logo d-flex align-items-center">
          <img
            src="static/assets/img/cfrost-logo.png"
            alt=""
            style="border-radius: 50%"
          />
          <span class="d-none d-lg-block">AdminPanel</span>
        </a>
      </div>
      <!-- End Logo -->

      <div class="search-bar" style="margin-left: auto">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link" href="/complaints">
            <i class="bi bi-grid"></i>
            <span>Complaints</span>
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Complaints</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Complaint</a></li>
            <li class="breadcrumb-item active">Table</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">User Complaints</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Society Id</th>
                      <th scope="col">Email</th>
                      <th scope="col">Name</th>
                      <th scope="col">Complaint</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for complaint in complaints %}
                    <tr>
                      <th scope="row">{{complaint.society_id}}</th>
                      <td>{{complaint.email}}</td>
                      <td>{{complaint.name}}</td>
                      <td>{{complaint.complaint}}</td>
                      <td>
                        <div class="filter">
                            {% if login_type == 1 %}
                              {% if complaint.level == 'government' %}
                                  Accepted
                              {% elif complaint.status == 'pending' %}
                                  <a href="#" class="icon" data-bs-toggle="dropdown">Pending</a>
                              {% else %}
                                  {{ complaint.status }}
                              {% endif %}
                            {% elif login_type == 0 %}
                                {% if complaint.status == 'pending' %}
                                  <a href="#" class="icon" data-bs-toggle="dropdown">Pending</a>
                                  {% else %}
                                  {{ complaint.status }} 
                                {% endif %}
                            {% endif %} 
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                  <h6>Actions</h6>
                              </li>
                              {% if complaint.status == 'pending' %}
                                  <li>
                                      <a class="dropdown-item" href="#" onclick="accept_complaint(event, '{{ complaint.id }}')">Accept</a>
                                  </li>
                                  <li>
                                      <a class="dropdown-item" href="#" onclick="reject_complaint(event, '{{ complaint.id }}')">Reject</a>
                                  </li>
                              {% endif %}
                          </ul>
                        </div>
                      </td>
                      <td>{{complaint.date}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script>
      const accept_complaint = (event, complaint_id) => {
        //event.preventDefault();
        fetch(`http://localhost:5000/acceptcomplaint/${complaint_id}`).then(
          () => location.reload()
        )
      }

      const reject_complaint = (event, complaint_id) => {
        // event.preventDefault();
        fetch(`http://localhost:5000/rejectcomplaint/${complaint_id}`).then(
          () => location.reload()
        )
      }
    </script>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="static/assets/vendor/quill/quill.min.js"></script>
    <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
